h4 {
    margin-left: 200px;
    margin-right: 200px;
    font-size:large;
}
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 1351px; /* Ширина контейнера */
    height:631px; /* Высота контейнера */
    overflow: hidden;
}

.overlay-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Обеспечивает сохранение пропорций изображения */
}

.text-overlay {
    position: absolute;
}
body {
    background-color: black;
}